@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(to bottom,
			transparent,
			rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.color-picker {
	@apply outline outline-2 rounded-full h-6 w-6 cursor-pointer;
}

.react-resizable {
	@apply fixed;
}

.react-resizable-handle {
	@apply absolute bg-origin-content bg-no-repeat bg-right-bottom box-border;
	width: 20px;
	height: 20px;
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2IDYiIHN0eWxlPSJiYWNrZ3JvdW5kLWNvbG9yOiNmZmZmZmYwMCIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iNnB4Ij48ZyBvcGFjaXR5PSIwLjMwMiI+PHBhdGggZD0iTSA2IDYgTCAwIDYgTCAwIDQuMiBMIDQgNC4yIEwgNC4yIDQuMiBMIDQuMiAwIEwgNiAwIEwgNiA2IEwgNiA2IFoiIGZpbGw9IiMwMDAwMDAiLz48L2c+PC9zdmc+');
	padding: 0 3px 3px 0;
}

.react-resizable-handle-sw {
	@apply bottom-0 left-0;
	cursor: sw-resize;
	transform: rotate(90deg);
}

.react-resizable-handle-se {
	@apply bottom-0 right-0;
	cursor: se-resize;
}

.react-resizable-handle-nw {
	@apply top-0 left-0;
	cursor: nw-resize;
	transform: rotate(180deg);
}

.react-resizable-handle-ne {
	@apply top-0 right-0;
	cursor: ne-resize;
	transform: rotate(270deg);
}

.react-resizable-handle-w,
.react-resizable-handle-e {
	top: 50%;
	margin-top: -10px;
	cursor: ew-resize;
}

.react-resizable-handle-w {
	left: 0;
	transform: rotate(135deg);
}

.react-resizable-handle-e {
	right: 0;
	transform: rotate(315deg);
}

.react-resizable-handle-n,
.react-resizable-handle-s {
	left: 50%;
	margin-left: -10px;
	cursor: ns-resize;
}

.react-resizable-handle-n {
	top: 0;
	transform: rotate(225deg);
}

.react-resizable-handle-s {
	bottom: 0;
	transform: rotate(45deg);
}